.NavMain {
  color: rgb(194, 39, 39);
  display: flex;
  align-items: center;
  height: 70px;
  position: fixed;
  bottom: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  justify-content: center;
}

.NavMain ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li {
  margin-right: 80px;
}

.home {
  height: 20px;
  width: 20px;
}

.nav {
  height: 20px;
  width: 20px;
}

.DisplayNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
